<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Read Note </title>
</head>
<body>
<div>

  <h1> Read Note </h1>

  <div>
    <table>
      <thead>
      <tr>
        <th> Id </th>
        <th> Title </th>
        <th> Note Text </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="note : ${readNote}">
        <td><span th:text="${note.id}"> Id </span></td>
        <td><span th:text="${note.title}"> Note Title </span></td>
        <td><span th:text="${note.text}"> Note Text </span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <a href="#" th:href="@{/notes}" > Note List </a>
  </div>
</div>
</body>
</html>